/*==================
    Css reset
==================*/
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

/*======================
    Formatação geral
======================*/

html {
    font-size: calc(10px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243D;
}

html body a{
    text-decoration: none;
    color: #21243D;
}

/*===========================
  Formatação da topo página
===========================*/

header{
    margin: 0 5vw 3vw 5vw;
}
header nav ul{
    display: flex;
    justify-content: right;
}

header nav ul li{
    margin: 1vw 10px 0 10px;
}

header nav ul li.atual a{
    color: #ff6464;
}

/*===========================
  Formatação dde conteúdo
===========================*/
main.works{
    margin: 0 30vw 0 30vw;
}
main.works h1{
    font-weight: 100;
    margin: 0 0 0 0;
    color: #21243D;
}
main.works section {
    border-bottom: 1px solid #e0e0e0;
    padding: 3vw 0 2vw 0;
}
main.works section:last-child{
    border: none;
}
main.works section p{
    margin: 1.3vw 0 1.3vw 0;
}
main.works section p span{
    color: white;
    background-color: #ff6464;
    border-radius: 35px;
    padding: 1px 10px 1px 10px;
    font-weight: bold;
}
/*====================
 Formatação do rodapé
=====================*/
footer{
    text-align: center;
    padding: 1vw 0 2vw 0;
}
footer nav ul{
    display: flex;
    justify-content: center;
}
footer nav ul li{
    margin: 0 12px 8px 12px;
    font-size: 2vw;
}
footer nav ul li a span{
    color: #21243D;
}